@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

body{
     font-family: 'Roboto', sans-serif;
     background-color: rgb(24, 26, 27) ;
     
    color: #e8e6e3;
    
}

main{
    
    max-width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 6px;
    padding-left: 0;
    text-align: center;
   background-color: rgb(34, 36, 38); 
}

figure{
    text-align: center;
    background-color: rgb(24, 26, 27) ;
    padding: 10px;
    
 }
img{
    
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;

}

.ww{
   display: inline-block;
   width: 70%;
   max-width: 100%;
  
  
}

.xd{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px 0 5px 0;   
   
}

.quote{
    display: inline-block;
    width: 50%;
    max-width: 100%;
    font-style: italic;
}

li{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

footer{
  
   font-size: 10px;
  
 
}

a{
    text-decoration: none;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    font-size: larger;
}

.logo{
    
    
    width: 5%;
}

.logo:hover{
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 20px white;

}
.unico{
    padding: 30px;
}